@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
*{
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
    width: 100%;
}
header{
    width: 100%;
    max-width: 1800px;
}
/* MENU */

.menu{
    background-color: white;
    display: inline;
}
.menu a{
    text-decoration: none;
    color: rgba(3,119,189,255);
    padding: 20px;
}
.menu a:hover{
    color: black;
}
#logo img{
    width: 250px;
}
div#logo{
    display: inline;
}











/* RODAPÉ */

footer{
    width: 100%;
    color: black;
    background-color: rgba(3,119,189,255);
    flex-shrink: 0;
}
ul.redes {
    list-style: none;
    display: flex;
    padding: 10px;
}
.redes img{
    width: 25px;
}
#copy{
    text-align: center;
}