.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 100px;
}

.smallcard-container > img {
    width: 50px;
    margin-right: 10px;
}

.smallcard-container > div {
   display: flex;
   align-items: center;
}

.smallcard-container h4 {
    margin-right: 5px;
}